.idea
.idea_modules
msgrouter-1.4.3/build/classes
msgrouter-1.4.3/debug

logs
target
.tmpBin
RUNNING_PID
build
project/project
project/target
tmp
dist
.cache
*.log

# Scala-IDE specific
.metadata
.settings
.cache-main
.cache-tests
.classpath
.history
.project
.scala_dependencies

.svn
bin
framework/bin
sample-play-dev/bin
sample-play-dev/.worksheet
sample-play-dev/test/jake